NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SOCIAL_CLIENT_ID=
SOCIAL_CLIENT_SECRET=
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URI=http://localhost:3000/api/social/callback/instagram
INSTAGRAM_OAUTH_URL=https://api.instagram.com/oauth/authorize
INSTAGRAM_OAUTH_SCOPES=instagram_business_basic,instagram_business_content_publish
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=http://localhost:3000/api/social/callback/facebook
FACEBOOK_OAUTH_URL=https://www.facebook.com/v22.0/dialog/oauth
FACEBOOK_OAUTH_SCOPES=pages_show_list,pages_read_engagement,pages_manage_posts
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=http://localhost:3000/api/social/callback/tiktok
TIKTOK_OAUTH_URL=https://www.tiktok.com/v2/auth/authorize/
TIKTOK_OAUTH_SCOPES=user.info.basic,video.publish
CRON_SECRET=